@charset "UTF-8";
* {margin:0;padding:0}
html body{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background:#f6f6f6;font-size:100%}
a{text-decoration:none;color:#259}
a:hover {text-decoration:underline}
ul,li {list-style:none}
img {border:none}
h1 {font-size:24px}
h2 {font-size:15px}
h3 {font-size:14px}
h4 {font-size:13px}
h5 {font-size:12px}
input[type='text'],input[type='email'],input[type='url'],textarea {outline:none;resize:none}
input[type='submit'] {cursor:pointer}

/*head*/
.siteheader{width:100%;height:50px;background:#1774cf;background:linear-gradient(#086ed5,#055db5)}
a[rel='home'] {font-family:'times New Roman';font-weight:bold;font-size:26px;line-height:50px;color:#fff;float:left;margin-left:10px}
.siteheader .top {width:980px;margin:0 auto}
.siteheader * a:hover {text-decoration:none}
.siteheader nav {margin-top:20px;margin-left:6%;float:left}
.siteheader nav li {margin:0 10px;display:block;float:left}
.siteheader nav a {color:#efefef;font-family:Arial,Verdana}

/*content*/
.content {width:980px;margin:10px auto;font-size:14px;word-wrap:break-word}
.content main {width:76.32%;float:left}
.content main .banner img {width:100%;border-radius:5px;margin-bottom:10px}
.content main article {width:97%;float:left;background:#fff;padding:10px 1% 10px 2%;margin-bottom:12px;line-height:20px;border-radius:5px;box-shadow:1px 1px 20px #cce1ff}
.content main article * {max-width:100%}
.content main article h2 {margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #eee}
.content main article p {margin-bottom:1.5em}
.content main article img.aligncenter {display:block;margin:10px auto 0 auto;border-radius:5px}
.content main article div.aligncenter {text-align:center;background:#f6f6f6;margin:10px auto;border-radius:5px;border:1px solid #cfcfcf}
.content main article table {border-collapse:collapse;border:none;margin:10px auto;text-align:center;word-break:break-all;box-shadow:5px 5px 5px #efefef}
.content main article table td,.content main article th {border:1px solid #ccc;padding:5px}
.content main article table tr:nth-child(odd) {background:#efefef}
.content main article p.wp-caption-text {line-height:28px;font-size:13px;margin:0}
.bread {width:100%;height:30px;line-height:30px;font-size:12px}

/**content in single**/
.content main article.single h1 {margin:10px 0 0 10px}
.content main article.single h2 {border:none;margin:0;padding:0}
.content main article.single footer {font-size:12px;color:#ccc;margin:5px 0 0 12px;border-bottom:1px solid #eee;padding-bottom:3px;margin-bottom:10px}
.content main img.imglist {float:right;padding:0.5%;margin-right:10px;background:#eee;border:1px solid #ccc;border-radius:5px;width:15%;max-height:80px;overflow:hidden;margin-left:10px;display:block;clear:both;margin-top:10px}
.content main article.single .entry-content{white-space:pre}
.content main article.single p {margin-bottom:0}

/**comment in single**/
.content main #comments {float:left;width:100%;background:#fff;border-radius:5px;box-shadow:1px 1px 20px #cce1ff;word-break:break-all}
.content main #comments h3 {font-size:20px;margin:20px 0}
.content main #respond {width:94%;margin:0 3%;font-size:16px}
.content main #respond p {margin:10px 0}
.content main #respond label {display:block;line-height:24px;color:#666}
.content main #respond label span {color:red}
.content main #respond input {height:24px;line-height:24px;width:40%}
.content main #respond input[type='submit'] {width:100px;height:30px}
.content main #respond textarea {width:80%;height:200px}

.content main #comment_list {border-top:1px dotted #cecece;padding-left:2%;width:98%;float:left;margin-bottom:10px;;font-size:12px}
.content main #comment_list .comment_body {width:94%;margin:2px 2% 12px 0;padding:10px 1% 0 10px;border-radius:5px;box-shadow:1px 1px 10px #eee}
.content main #comment_list .comment_body section {margin-left:10%}
.content main #comment_list .inner_comment {border:1px dotted #cacaca;margin:0 5% 5px 10%;width:85%;padding:10px;float:left}
.content main #comment_list .load-comment {width:94%;margin:2px 2% 12px 0;height:30px;line-height:30px;cursor:pointer}
.comment_body .avatar {float:left;margin-right:2%;width:8%}
.comment_body .avatar img {width:100%;max-width:100%}
.comment_body .reply {float:right;margin:auto 2% 2px auto;font-size:12px;color:#666;cursor:pointer}
.comment_body address {font-style:normal}
.comment_body time {margin-left:5px}
.content main .comment_body i {white-space:pre;font-style:normal;margin-left:10%;display:block}
.comment_body .innermsg {float:left;width:90%;padding:2%;border:1px dotted #cfcfcf;border-radius:5px;margin-top:5px;margin-left:6%}

footer.entry-footer {margin-top:5px;font-size:13px;color:#999}
footer.entry-footer a {color:#999}
footer.entry-footer span {margin-right:5px}
.content main .navigation {clear:both;width:100%;float:left;margin-bottom:10px}
.content main .navigation a {display:block;text-align:center;width:20%;border:1px solid #d0d0d0;height:40px;line-height:40px;background:#fff;color:#262626}
.content main .navigation a:hover {background:#448FDB;color:#efefef;text-decoration:none}
.content main .navigation a:nth-child(1) {float:left;margin-left:2%}
.content main .navigation a:nth-child(2) {float:right;margin-right:2%}

.content aside {width:23.68%;float:right}
.content aside section.widget {width:96%;padding:10px 0 0 0;line-height:24px;float:right;background:#fff;margin-bottom:10px}
.content aside section.widget h2 {padding-left:5%;color:#448FDB;border-bottom:1px solid #eee;margin-bottom:10px}
.content aside section.widget ul {padding-left:5%;padding-right:5px}
.content aside  a {color:#666}
.content aside section.widget ul.categories {padding:0}
.content aside section.widget ul.categories a {display:block;border-bottom:1px solid #e5e5e5;height:35px;line-height:35px;padding:0 5%}
.content aside section.widget ul.categories a:hover {text-decoration:none;background:#448FDB;color:#fff}
.content aside section.widget ul.categories .num {float:right}
.content aside section.widget ul.f_link {padding-bottom:10px}
.content aside section.widget ul.f_link li{width:47.5%;display:inline-block}
.content aside section.widget p {display:block;color:#666;border-bottom:1px solid #e5e5e5;line-height:20px;padding:0 5%}

/*foot*/
footer.sitefooter {width:100%;float:left;margin:10px auto 0 auto;background:#498fcd}
footer.sitefooter .fo{width:980px;margin:auto;text-align:left}
footer.sitefooter * {color:#ececec;font-size:12px}
footer.sitefooter .fo .copy {margin-left:2%;float:left;margin-top:15px}
footer.sitefooter .link {float:right;height:30px;margin-top:15px}
footer.sitefooter .link li {float:right;margin:0 20px}

@media (max-width:980px){
    .content {width:100%;float:left}
    a[rel='home'] {width:100%;text-align:center;margin:0}
    .siteheader .top {width:100%}
    .siteheader form {display:none}
    .siteheader nav {width:100%;margin:0;text-align:center;background:#fff;background:linear-gradient(#ececec,#fff);border-bottom:1px solid #ececec}
    .siteheader nav li {width:33%;margin:0;padding:4px 0}
    .siteheader nav li:nth-child(1) {display:none}
    .siteheader nav a {color:#1c5aa2}
    .content main article img {max-width:98%}
    footer.sitefooter .fo {width:100%}
}

@media(max-width:768px){
    .content main {width:100%;float:left}
    .content aside {width:100%;float:right}
    .content main .navigation a {width:96%;margin:5px 2%}
    .content aside section.widget {width:98%;padding-left:2%}
    /*comments*/
    .content main #respond label {display:block;line-height:30px}
    .content main #respond input {height:24px;line-height:24px;width:100%}
    .content main #respond input[type='submit'] {width:100%;height:30px}
    .content main #respond textarea {width:100%;height:250px}
}
